*{ 
    font-family: 'Noto Sans JP', sans-serif;
    
}
body{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator{ 
    height: 80vh; 
    width: 23vw;
    display: grid; 
    grid-template-areas: "display display display display"
    "display display display display" 
    "btnc btndel btnpm btndiv" 
    "btn7 btn8 btn9 btnx" 
    "btn4 btn5 btn6 btn-" 
    "btn1 btn2 btn3 btnpl" 
    "btn0 btn0 btndot btneq"
    ; 
    background-color: #2e2c39;

} 
#display{ 
    position: relative;
    grid-area: display;
    /* background-color: #202020;  */
    color: #f2f2f2; 
    /* font-weight: 100; */
    padding-bottom: 70%;
}
#displayText{ 
    margin-right: 10%;
    position: absolute; 
    bottom: 0px; 
    right: 0px;
    font-size: 4.2rem; 
} 
button{ 
    border-radius: 100%;
    width: 50%;
    margin: 5%;
    margin-left: 20%;
    font-size: 1.2rem;  
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    color: #c0c0c3;
    cursor: pointer; 
} 
button:hover{ 
    background-color: #bfbfc1;
    color: #424243;
}
#btndel{ 
    grid-area: btndel;
}


.topLeftBtn{ 
    /* background-color: #cacbcd; */
}
.rightOrangeBtn{ 
/* background-color: #f88f12; */
/* color: #ffffff; */
}
#btnc{ 
grid-area: btnc;
color: #614bb6;
} 
#btnpm{ 
    grid-area: btnpm;
} 
#btnper{ 
    grid-area: btnper;
   
}
#btndiv{ 
    grid-area: btndiv;
 
}
#btn7{ 
    grid-area: btn7;

}
#btn8{ 
    grid-area: btn8;

}
#btn9{ 
    grid-area: btn9;

}
#btnx{ 
    grid-area: btnx;

}
#btn4{ 
    grid-area: btn4;

}
#btn5{ 
    grid-area: btn5;

}
#btn6{ 
    grid-area: btn6;

}
#btn-{ 
    grid-area: btn-;

}
#btn1{ 
    grid-area: btn1;

}
#btn2{ 
    grid-area: btn2;

}
#btn3{ 
    grid-area: btn3;

} 
#btnpl{ 
    grid-area: btnpl;

} 
#btn0{ 
    grid-area: btn0; 

} 
#btndot{ 
    grid-area: btndot;

} 
#btneq{ 
    grid-area: btneq;
    color: #614bb6;
}
